@{
    ViewBag.Title = "Results";
}

<div class="main">
    @if (Model != null && Model.Count > 0)
    {
        <h3>3. Enjoy your results!</h3>
        foreach (var item in Model)
        {
            <div class="imageBlock">
                <a href="@item" target="_blank"><img class="thumb" src="@item" alt="images" /></a><br />
            </div>
        }

        using (Html.BeginForm("DeleteAll", "Results", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="fileUpload deleteBtn btn btn-default"><span>Delete All Files</span><input type="submit" name="deleteAll" class="upload" /></div>
        }
    }
    else
    {
        <h2>No photos have been found</h2>
    }
</div>

