body {
    padding-top: 5px;
    padding-bottom: 5px;
    background-image:url(../Images/background.png);
    background-size:cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-right: 15px;
    color:#b7b7b7;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt { white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea { max-width: 280px; }

.fileUpload { position: relative; overflow: hidden; margin-bottom: 5px; margin-top:5px; }
.fileUpload input.upload { position: absolute; top: 0; right: 0; margin: 0; padding: 0; font-size: 20px; cursor: pointer; opacity: 0; filter: alpha(opacity=0); }
.deleteDiv{ position:relative; top:-90px; left:130px; width:30px;height:30px;}
.imageBlock{display: inline-block; height:95px; background-color:white;}
.thumb{width:159px; height:89px;}
.deleteIcon{width:30px; height:30px;}

.main {
    padding-top:15%;
}

.deleteBtn {
    font-size:12px;
}

.startRecBtn {
    font-size:20px;
    margin-top:20px;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 99;
  width: 250px;
  height: 250px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading_bg {
    width:100%;
    height:100%;
    background-color:black;
    z-index:98;
    position:absolute;
    opacity:0.9;
    visibility:hidden;
}